<div class="md-l-olive">
  <div class="md-l-olive__item">
    {{> organisms-header}}
  </div>
  {{> organisms-hero}}
</div>

{{> organisms-how-it-work}}
{{> organisms-featured-menu}}
{{> organisms-select-programs}}
{{> organisms-compare-pricing}}
{{> organisms-team-member}}
{{> organisms-latest-blog}}
{{> organisms-download-app}}

{{> organisms-footer}}
