<div class="md-well">
  <div class="row column text-center">
    <div class="md-mb-tiny"><i class="fa fa-bomb fa-3x"></i></div>
    <h3 class="md-mt-reset md-mb-small">Accelerated Weight Loss</h3>
  </div>
  <div class="row md-mb-large">
    <div class="medium-6 medium-offset-3 column text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
  </div>
  <div class="row column">
    <div class="md-l-flex md-l-flex--center md-l-flex--wrap">

        <div class="md-medium-mr-small">
          <div class="md-mb-small md-l-flex md-l-flex--vertical-middle">
            <i class="fa fa-check-circle-o fa-2x md-mr-tiny text-color-link"></i>
            <span class="text-normal">Main goal</span>: Weight loss
          </div>
          <div class="md-mb-small md-l-flex md-l-flex--vertical-middle">
            <i class="fa fa-check-circle-o fa-2x md-mr-tiny text-color-link"></i>
            <span class="text-normal">Speciality menu</span>: Low crab meals
          </div>
        </div>

        <div>
          <div class="md-mb-small md-l-flex md-l-flex--vertical-middle">
            <i class="fa fa-check-circle-o fa-2x md-mr-tiny text-color-link"></i>
            <span class="text-normal">Schedule</span>: 5 and 7 weeks
          </div>
          <div class="md-mb-small md-l-flex md-l-flex--vertical-middle">
            <i class="fa fa-check-circle-o fa-2x md-mr-tiny text-color-link"></i>
            <span class="text-normal">Delivery</span>: Delivery Fresh twice a week
          </div>
        </div>

    </div>
  </div>

  <div class="row column md-mt-large">
    <h3 class="md-mt-reset md-mb-small text-center">Sample menu</h3>
  </div>
  <div class="row md-mb-large">
    <div class="medium-6 medium-offset-3 column text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
  </div>
  <div class="row">

    {{#listItems.four}}
      <div class="medium-6 large-3 columns md-mb-small">
        <div class="md-card-1">
          <div class="md-card-1__thumbnail">
            <img src="https://unsplash.it/260" class="md-card-1__image" alt="Thumnail">
          </div>
          <div class="md-card-1__content text-center">
            <a href="#" class="text-fz-large text-uppercase">{{name}}</a>
            <div class="md-mt-tiny">{{description}}</div>
          </div>
        </div>
      </div>
    {{/listItems.four}}

  </div>
</div>
