<div class="md-well md-well--smoke">
  <div class="row column">
    <h3 class="md-mt-reset md-mb-small text-center">What our customers say</h3>
  </div>
  <div class="row md-mb-large">
    <div class="medium-6 medium-offset-3 column text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
  </div>
</div>
