<div class="md-well">
  <div class="row md-l-flex md-l-flex--vertical-middle">
    <div class="small-12 medium-8 medium-offset-2 column">

      <div class="md-l-flex md-l-flex--center md-l-flex--vertical-middle">
        <div class="md-mr-base md-l-flex__keep">
          <img src="https://unsplash.it/276/530" alt="madang app">
        </div>
        <div>
          <div class="text-color-link text-fz-large md-mb-small">Download the app</div>
          <div class="text-fz-h1 md-mb-small text-color-heading">Choose. Eat. Enjoy</div>
          <div class="md-mb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</div>
          <a href="#">
            <img src="../../images/apple-store-download.svg" alt="Get it on Apple Store">
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.ironhidegames.android.kingdomrushfrontiers&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
            <img
            alt="Get it on Google Play"
            src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"
            width="160"
            />
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
