<div class="md-well">
  <div class="row column">
    <h3 class="text-center text-uppercase md-mt-reset md-mb-large">Our featured menu</h3>
  </div>
  <div class="featured-carousel" id="featuredCarousel">
    {{#listItems.ten}}
      <div class="md-mr-tiny md-ml-tiny">
        {{> molecules-card-1}}
      </div>
    {{/listItems.ten}}
  </div>
</div>
