<div class="md-well">
  <div class="row column md-mb-base">
    <div class="text-center">
      <h3 class="md-mt-reset md-mb-tiny text-uppercase">Follow our on Instagram</h3>
      <a href="#">@MadangFood</a>
    </div>
  </div>

  <div id="instagramCarousel">
    <div>
      <img src="https://unsplash.it/234" alt="" />
    </div>
    <div>
      <img src="https://unsplash.it/234" alt="" />
    </div>
    <div>
      <img src="https://unsplash.it/234" alt="" />
    </div>
    <div>
      <img src="https://unsplash.it/234" alt="" />
    </div>
    <div>
      <img src="https://unsplash.it/234" alt="" />
    </div>
    <div>
      <img src="https://unsplash.it/234" alt="" />
    </div>
    <div>
      <img src="https://unsplash.it/234" alt="" />
    </div>
    <div>
      <img src="https://unsplash.it/234" alt="" />
    </div>
    <div>
      <img src="https://unsplash.it/234" alt="" />
    </div>
    <div>
      <img src="https://unsplash.it/234" alt="" />
    </div>
  </div>
</div>
