<div class="row md-well">
  <h3 class="text-center text-uppercase md-mt-reset md-mb-large">How It Works</h3>
  {{#listItems.three}}
    <div class="small-12 medium-4 columns text-center md-mb-large md-medium-mb-reset">
      <div style="height: 72px">
        <img src="{{icon}}" alt="{{heading}}" />
      </div>
      <h4 class="md-mt-small md-mb-small">{{heading}}</h4>
      <p class="md-m-reset">{{content}}</p>
    </div>
  {{/listItems.three}}
</div>
