<section class="md-well md-well--smoke">
  <div class="row column">
    <h3 class="md-mt-reset md-mb-large text-center text-uppercase">Latest blog</h3>
  </div>

  <div class="row">
    <div class="small-12 medium-4 columns">
      {{> molecules-card-3}}
    </div>
    <div class="small-12 medium-4 columns">
      {{> molecules-card-3}}
    </div>
    <div class="small-12 medium-4 columns">
      {{> molecules-card-3}}
    </div>
  </div>
</section>
