<div class="md-well">
  <div class="row column">
    <div class="small-12 medium-7 columns"></div>
    <div class="small-12 medium-5 columns">
      <form action="/" class="md-f">
        <h3 class="text-uppercase">Select a program to fit your lifestyle</h3>
        <div class="md-mb-small">
          <select name="" id="" class="md-f__control">
            <option value="">Weight lost & Fitness</option>
          </select>
        </div>
        <div class="md-mb-small">
          <select name="" id="" class="md-f__control">
            <option value="">Healthy lifestyle</option>
          </select>
        </div>
        <div class="md-mb-small">
          <select name="" id="" class="md-f__control">
            <option value="">Special menus</option>
          </select>
        </div>
        <button class="md-btn md-btn--block md-btn--large" type="submit">Compare all programs</button>
      </form>
    </div>
  </div>
</div>
