<div class="md-well">
  <div class="row">
    <div class="small-12 column">
      <p class="text-center">
        Be the lucky winner to get FREE Madang premium meals for one week.<br>
        We are also offer you latest deal in your inbox
      </p>
    </div>

    <div class="small-12 column">
      <form action="" class="md-f">
        <div class="md-f__group">
          <input
            type="email"
            class="md-f__control md-f__control--large md-f__control--w-auto md-f__group-item"
            placeholder="Email address"
            required
          >
          <button class="md-btn md-btn--large md-f__group-item" type="submit">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</div>
