<section class="md-well">
  <div class="row column">
    <h3 class="text-uppercase text-center md-mt-reset md-mb-base">Our passionate team member</h3>
  </div>
  <div class="row md-mb-large">
    <div class="small-12 medium-offset-3 medium-6 column text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptate, velit non officia possimus culpa reprehenderit aliquam ex in, animi tempora, aperiam magnam aliquid laboriosam et voluptatum rerum recusandae veritatis.
    </div>
  </div>
  <div class="row column md-l-flex md-l-flex--center md-l-flex--wrap">
    <div class="md-mr-small md-ml-small md-mb-small">
      {{> molecules-card-4}}
    </div>
    <div class="md-mr-small md-ml-small md-mb-small">
      {{> molecules-card-4}}
    </div>
    <div class="md-mr-small md-ml-small">
      {{> molecules-card-4}}
    </div>
  </div>
</section>
