<form action="/" class="md-f">
  <div class="md-mb-base">
    <input type="text" class="md-f__control {{# widthAuto}}md-f__control--w-auto{{/ widthAuto}}" placeholder="Text field">
  </div>
  <div class="md-mb-base">
    <input type="email" class="md-f__control {{# widthAuto}}md-f__control--w-auto{{/ widthAuto}}" placeholder="Email field">
  </div>
  <div class="md-mb-base">
    <input type="password" class="md-f__control {{# widthAuto}}md-f__control--w-auto{{/ widthAuto}}" placeholder="Password field">
  </div>
  <div class="md-mb-base">
    <input type="search" class="md-f__control {{# widthAuto}}md-f__control--w-auto{{/ widthAuto}}" placeholder="Search field">
  </div>
</form>
