<form action="/" class="md-f">
  <div class="mbmd">
    <input type="text" class="md-f__control" placeholder="Text field">
  </div>
  <div class="mbmd">
    <input type="email" class="md-f__control" placeholder="Email field">
  </div>
  <div class="mbmd">
    <input type="password" class="md-f__control" placeholder="Password field">
  </div>
  <div class="mbmd">
    <input type="search" class="md-f__control" placeholder="Search field">
  </div>
</form>
