<div class="md-hero">
  <div class="md-hero__content">
    <div class="row">
      <div class="small-12 column">
        <h2 class="md-hero__heading">
          Healthy Inside, <br>
          Fresh <span class="md-hero__highlight">Outside</span>
        </h2>
        <p class="md-hero__text">We delivery healthy food that are ready to eat. Just choose your own menu you like</p>
        <button class="md-btn">Learn more</button>
      </div>
    </div>
  </div>
</div>
