<div class="md-f__group md-mb-base">
  <input type="text" class="md-f__control md-f__group-item" placeholder="Enter your email address here">
  <button class="md-btn md-f__group-item" type="submit">Subscribe</button>
</div>
<div class="md-f__group md-mb-base">
  <button class="md-btn md-f__group-item" type="submit">Subscribe</button>
  <input type="text" class="md-f__control md-f__group-item" placeholder="Enter your email address here">
</div>
<div class="md-f__group md-mb-base">
  <button class="md-btn md-f__group-item" type="submit">$$$</button>
  <input type="text" class="md-f__control md-f__group-item" placeholder="Enter your email address here">
  <button class="md-btn md-f__group-item" type="submit">Subscribe</button>
</div>
