.md-l-flex {
  display: flex;

  &__fullfill {
    flex-grow: 1;
  }

  &__keep {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &--vertical-middle {
    align-items: center;
  }

  &--center {
    justify-content: center;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--sp-between {
    justify-content: space-between;
  }
}

/*
 * This is pattern for situation:
 * header position absolute on top hero section
 * olive no related to meaning of pattern, just random name
 */
.md-l-olive {
  position: relative;

  .md-l-olive__item {
    position: absolute;
    top: 0;
    z-index: map-get($z-index, "lv1");
    width: 100%;
  }
}
