.text-fz-h1 {
  font-size: $font-size-h1;
}

.text-fz-large {
  font-size: $font-size-h4;
}

.text-small {
  font-size: $font-size-h6;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-color-link {
  color: $link-color;
}

.text-color-white {
  color: $color-white;
}

.text-color-heading {
  color: $heading-color;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: $font-weight-bold;
}

.text-normal {
  font-weight: $font-weight-normal;
}
