<div class="md-header">
  <div class="row">
    <div class="small-12 column md-l-flex md-l-flex--vertical-middle">

      <div class="md-l-flex__fullfill">
        {{> molecules-branding}}
      </div>

      <div class="md-large-mr-base">
        {{> molecules-main-navigation}}
      </div>

      {{> atoms-special(text: "Choose plan")}}

    </div>
  </div>
</div>
