<nav class="md-nav">
  <a href="#" class="md-nav__link">About us</a>
  <a href="#" class="md-nav__link">Menu</a>
  <a href="#" class="md-nav__link">Programs</a>
  <a href="#" class="md-nav__link">Pricing</a>
  <a href="#" class="md-nav__link">Sign in</a>
</nav>
