<div class="md-well md-well--smoke md-pt-x-large md-pb-x-large">
  <div class="row column text-center">
    <h2 class="text-uppercase md-mt-reset">
      Select a program to fit
      <div class="md-mt-tiny text-bold text-color-link">Your lifestyle</div>
    </h2>
  </div>
</div>
