<div class="md-well">
  <div class="row column">
    <div class="medium-8 medium-offset-2 text-center md-mb-large text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
  </div>

  <div class="row small-up-1 medium-up-3">
    {{#listItems.six}}
      <div class="column column-block text-center md-mb-large">
        <div class="md-mb-tiny">
          <i class="fa fa-bomb fa-3x"></i>
        </div>
        <h4 class="md-mt-reset md-mb-tiny">{{heading}}</h4>
        <p class="text-small md-mt-tiny">{{content}}</p>
        <button class="md-btn text-uppercase" type="button">Learn more</button>
      </div>
    {{/listItems.six}}
  </div>
</div>
