<div class="md-well md-well--smoke">
  <div class="row column text-center">
    <h2 class="text-uppercase md-mt-reset">Not sure which program to choose?</h2>
    <button class="md-btn md-btn--special md-btn--large">Let us help</button>
  </div>
</div>
