<footer class="md-footer">
  <div class="row">
    <div class="small-12 medium-3 columns">
      {{> molecules-branding}}
    </div>
    <div class="small-12 medium-6 columns md-l-flex md-l-flex--sp-between md-l-flex--wrap">

      {{#listItems.four}}
        <div class="md-mb-small">
          <div class="text-uppercase text-color-white md-mb-tiny">{{heading}}</div>
          <ul class="md-list-unstyled">
            <li class="md-mb-tiny"><a href="#" class="text-color-white">{{link-1-text}}</a></li>
            <li class="md-mb-tiny"><a href="#" class="text-color-white">{{link-2-text}}</a></li>
          </ul>
        </div>
      {{/listItems.four}}

    </div>
    <div class="small-12 medium-3 columns text-right">
      <a href="#" class="md-ball md-mr-tiny">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#" class="md-ball md-mr-tiny">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#" class="md-ball md-mr-tiny">
        <i class="fa fa-google-plus"></i>
      </a>
      <a href="#" class="md-ball md-mr-tiny">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="#" class="md-ball">
        <i class="fa fa-tumblr"></i>
      </a>
    </div>
  </div>
  <div class="md-footer__bottom">
    <div class="row column">
      <div class="md-footer__bottom-text">&copy; 2001 - 2017 Madang, Inc. All right reserved.</div>
    </div>
  </div>
</footer>
