<div id="testimonialCarousel" class="md-car">

  <div class="md-car__item text-center">
    <h3 class="md-m-reset">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit fugiat unde, beatae a quidem, cum expedita non nam facere sed, enim modi amet repellat ea dolorem sequi aliquid obcaecati! Voluptatibus.</p>
  </div>
  <div class="md-car__item text-center">
    <h3 class="md-m-reset">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit fugiat unde, beatae a quidem, cum expedita non nam facere sed, enim modi amet repellat ea dolorem sequi aliquid obcaecati! Voluptatibus.</p>
  </div>
  <div class="md-car__item text-center">
    <h3 class="md-m-reset">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit fugiat unde, beatae a quidem, cum expedita non nam facere sed, enim modi amet repellat ea dolorem sequi aliquid obcaecati! Voluptatibus.</p>
  </div>

</div>
