.md-f {
  &__control {
    $input-height: ($base * 4);
    $input-large-height: $space-large;

    display: block;
    width: 100%;
    height: $input-height;
    padding: $space-tiny $space-small;

    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: $body-color;

    background-color: $color-white;
    border: 1px solid #ccc;
    @include border($border-width, $border-color);
    border-radius: $radius;
    // box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: none;

    &:hover,
    &:focus {
      border-color: $color-primary;
      outline: none; /* stylelint-disable-line */
    }

    &--w-auto {
      width: auto;
    }

    &--large {
      height: $input-large-height;
    }
  }

  &__group {
    display: flex;
    justify-content: center;

    &-item {
      border-radius: 0;
    }

    &-item:first-child {
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
    }

    &-item:last-child {
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }
}

textarea.md-f__control { /* stylelint-disable-line */
  height: auto;
}

/* stylelint-disable */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: $color-9;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $color-9;
   opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $color-9;
   opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $color-9;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: $color-9;
}
/* stylelint-enable */
