<!-- Button on right -->
<div class="mbmd">
  <div class="md-item-group">
    <input type="text" class="md-f__control md-item-group__item" placeholder="Enter you email address here">
    <button class="md-btn md-item-group__item">Subcrible</button>
  </div>
</div>

<!-- Button on left -->
<div class="mbmd">
  <div class="md-item-group">
    <button class="md-btn md-item-group__item">Subcrible</button>
    <input type="text" class="md-f__control md-item-group__item" placeholder="Enter you email address here">
  </div>
</div>

<!-- Three items group together -->
<div class="mbmd">
  <div class="md-item-group">
    <div class="md-item-group__addon md-item-group__item">$</div>
    <input type="text" class="md-f__control md-item-group__item" placeholder="Enter you email address here">
    <div class="md-item-group__addon md-item-group__item">.00</div>
  </div>
</div>
