@mixin border($width: 1px, $color: $color-primary) {
  border: $width solid $color;
}

@mixin box-shadow {
  box-shadow: 0 0 $space-base rgba($body-color, 0.4);
}

@mixin keep-ratio-1-1 {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

@mixin keep-ratio-4-3 {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

@mixin transition($property: all) {
  transition: $property $tr-time $tr-effect;
}

@mixin sr-only {
  position: absolute;
  size: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
