<div class="md-card-3">
  <div class="md-card-3__thumbnail">
    <a href="#">
      <img src="https://unsplash.it/400/300" class="md-card-3__image" alt="thumbnail">
    </a>
  </div>
  <div class="md-card-3__content">
    <a href="#" class="md-card-3__title">5 Foods that sound healthy, but aren't</a>
    <div>Posted May, 27, 2016</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse assumenda, autem sed sit saepe maiores iure velit aliquid iste libero, non. Molestias inventore perspiciatis ex, sed laudantium laborum accusamus fuga!</p>
    <div class="md-l-flex">
      <span class="md-l-flex__fullfill">10 comments</span>
      <a href="#">Read more</a>
    </div>
  </div>
</div>
