<div class="md-card-1">
  <div class="md-card-1__thumbnail">
    <img src="https://unsplash.it/200" class="md-card-1__image" alt="Thumnail">
  </div>
  <div class="md-card-1__content">
    <a href="#" class="text-fz-large">Grilled Salmon</a>
    <div class="md-mt-tiny">With Lime Butter Sauce</div>
  </div>
</div>
