<div class="md-card-2{{# bestChoice }} md-card-2--best-choice{{/ bestChoice}}">
  <div class="md-card-2__content text-center">
    <div class="md-card-2__title">2 weeks program</div>
    <div class="md-card-2__headline">$39</div>
    <div class="md-card-2__sub-headline">/day</div>
    <div class="mtmd">
      <div class="mbsm">
        Meals for Breakfast, Lunch, Dinner <br>
        and Snack with 4 Week Rotation
      </div>
      <div class="mbsm">
        Calories <br>
        Female 1150-1350, Male 1300-1600
      </div>
      <div class="mbsm">
        Protein Customization <br>
        Limited Protein Customization
      </div>
    </div>
  </div>
  <a href="#" class="md-card-2__footer">
    Order now
  </a>
</div>
