<div class="md-card-5" style="background-color: #0ff">
  <div class="md-card-5__image">
    <img src="https://unsplash.it/200" alt="" />
  </div>
  <div class="md-card-5__body">
    <h4 class="md-card-5__heading">Dana T. Hardin</h4>
    <div class="md-card-5__text">
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, voluptas!"
    </div>
  </div>
</div>
